.columnnav
  background-color: #ccf
  width: 640px
  max-width: 640px
  overflow-x: scroll
  white-space: nowrap
  .columnnav-container
    transition: margin-left 0.75s
    &>li
      display: inline
    .columnnav-column
      margin: none
      height: 480px
      max-height: 480px
      min-width: 200px
      overflow-y: auto
      display: inline-block
      ul
        list-style: none
        li
          padding: 5px
          border-top: 1px solid #333
          &:first-child
            border-top: none
          &:hover
            background-color: #eee